*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #576581;
    font-family: 'Roboto',sans-serif;
}
/*fuente*/
h1,h2,h3 {
    font-family: 'Russo One', sans-serif;
}

nav > ul > li > a {
    font-family: 'Russo One', sans-serif;
}


/*seleccionamos los div hijos de header (selector) llegamos a mas de un elemento a la vez*/
header > div{
    width: 50%;
}

/*display flex permite que el padre ordene al hijo*/
nav{
    display: flex;
    justify-content: flex-end;
}

/*para dejar los nav uno al lado del otro unicamente los del nav*/
/*le damos margen a los li con margin*/
nav > ul >li {
    display: inline-block;
    margin-left: 15px;
}

/*le sacamos el subrayado a todos los a y lo dejamos color blanco*/
a {
    text-decoration: none;
    color: white;
}

/*al ul le vamos a dar un margen para que se corra un poco a la izquierda*/
nav > ul {
    margin-right: 30px;
}

/*aca tomamos el id */
#titulo-principal {
    margin-left: 30px;
}

#contenedor-logo {
    display: flex;
    align-items: center;
    }

#contenedor-logo > img{
    width: 80px;
    margin-left: 30px;
}